.playlist-manager {
  display: grid; 
  grid-template-columns: 30rem 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "list item";
}

.playlist-list { grid-area: list; }
.playlist-editor { grid-area: item; }

.playlists {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playlist-item {
  padding: 1rem;
  border-bottom: 0.1rem solid var(--text-color);
  cursor: pointer;
  font-family: 'ChicagoFLF', 'ChiKareGo', monospace;
  font-size: 1.4rem;
  color: var(--text-color);
}