.progress-bar {
    --progress: 0%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    box-shadow: none;
    box-sizing: border-box;
    cursor: default;
    height: 0.6rem;
    padding: 0;
    position: relative;
    margin: 0 auto;
    width: 90%;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 6px;
      background: #1b1b1b;           /* progress color */
      width: var(--progress, 0%);
      z-index: 1;
    }

  /* ───────── WebKit (Chrome, Safari) ───────── */

    &::-webkit-slider-runnable-track {
        height: 0.6rem;
        background: #9BAE8F;           /* LCD green */
        border: 0.1rem solid #1b1b1b;
    }

    &::-webkit-slider-thumb {
        border: none;
        cursor: pointer;
        height: 1rem;
        background: #1b1b1b;
        -webkit-appearance: none;
        transform: translateY(-25%) rotate(45deg);
        width: 1rem;
        /* -webkit-appearance: none;
        width: 0;                      /* invisible thumb
        height: 0; */
        /* box-shadow: -9999px 0 0 9999px #1b1b1b; */
    }

    /* ───────── Firefox ───────── */

    &::-moz-range-track {
        height: 6px;
        background: #9BAE8F;
        border: 1px solid #1b1b1b;
    }

    &::-webkit-slider-progress,
    &::-moz-range-progress {
        height: 6px;
        background: #1b1b1b;
    }

    /* hide thumb */
    &::-moz-range-thumb {
        width: 0;
        height: 0;
        border: none;
    }

    /* ───────── Edge / IE ───────── */

    &::-ms-track {
        height: 6px;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    &::-ms-fill-lower {
        background: #1b1b1b;
    }

    &::-ms-fill-upper {
        background: #9BAE8F;
        border: 1px solid #1b1b1b;
    }

    &::-ms-thumb {
        width: 0;
        height: 0;
        border: none;
    }
}