@import url('./progress-bar.css');

.mini-player {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 5rem;
  gap: 0px 0px;
  grid-template-areas:
    'cover details knobs'
    'cover controls knobs';
  height: 100%;
  padding: 0.5rem;
}

.track-info {
  grid-area: details;

  background-color: #a6b28a; /* #8F9F7A;*/
  border-radius: 0.5rem;
  box-shadow: inset 0.25rem 0.25rem 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
  color: #1b1b1b;
  display: flex;
  flex-direction: column;
  font-family: 'ChicagoFLF', 'ChiKareGo', monospace;
  font-size: 1.2rem;
  line-height: 1.2;
  image-rendering: pixelated;
  -webkit-font-smoothing: none;
}

.text-info {
  flex: auto;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding-top: 1rem;
  text-align: center;
}

.track-title {
  font-weight: bold;
}

.time-controls {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  grid-area: time;
  margin-top: 1rem;
  margin: 1rem auto 0.5rem;
  padding: 0 0.5rem;
  width: 90%;
}

input[type='text'].position {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

.knobs {
  gap: 1rem;
  grid-area: knobs;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cover-container {
  display: flex;
  grid-area: cover;

  align-items: center;
  justify-content: center;

  position: relative;
}

.cover {
  border-radius: 5%;
  display: block;
  height: 10rem;
  width: 10rem;

  /* Curved glass illusion */
  transform: perspective(900px) scale(1.02);

  /* CRT softness */
  filter: contrast(1.1) saturate(1.15) brightness(1.05) blur(0.2px);
}

.cover[src=''] {
  visibility: hidden;
}

.player-controls {
  grid-area: controls;

  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  gap: 0.5rem;
}
.player-button {
  background-color: transparent;
  background-size: 3rem 3rem;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  margin: 0 0.1rem;
  padding: 0;
  transition: filter 0.25s;
}

.player-button:not(:disabled):hover {
  background-color: var(--color-hover-bg);
}
.player-button:not(:disabled):active {
  filter: var(--color-active-bg);
}
.player-button:disabled {
  filter: opacity(0.5);
  cursor: default;
}

.player-button span {
  display: none;
}

#loadBtn {
  background-image: url(../assets/btn-eject.svg);
}
#previousBtn {
  background-image: url(../assets/btn-previous.svg);
}
#playToggle {
  background-image: url(../assets/btn-play.svg);
  span:before {
    content: 'Play';
  }
}
#playToggle[value='pause'] {
  background-image: url(../assets/btn-pause.svg);
  span:before {
    content: 'Pause';
  }
}
#nextBtn {
  background-image: url(../assets/btn-next.svg);
}
#shuffleBtn {
  background-image: url(../assets/btn-shuffle.svg);
}

/* #progressBar {
    -webkit-appearance: none;
    box-shadow: none;
    box-sizing: border-box;
    margin: 2rem 0.5rem;
    width: 100%;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
    }
    &::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
    }
    &:focus::-webkit-slider-runnable-track {
    background: #367ebd;
    }
    &::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
    }
    &::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    }
    &::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
    }
    &::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    &::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    }
    &::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    }
    &:focus::-ms-fill-lower {
    background: #3071a9;
    }

    &:focus::-ms-fill-upper {
    background: #367ebd;
    }
} */
