.song-database-table {
    font-family: 'ChicagoFLF', 'ChiKareGo', monospace;
    font-size: 1.2rem;
    image-rendering: pixelated;
    line-height: 1.2;
    width: 100%;

    & thead {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    & thead th {
        padding: 3px;
        background: white;
    
        &.buttons-row {
            padding: 0.5rem 0.5rem;
            text-align: left;

            button {
                margin-right: 0.5rem;
            }
        }
    }
}


.song-database-table th, .song-database-table td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.artwork-thumbnail {
    width: 4.8rem;
    height: 4.8rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    image-rendering: pixelated;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}