@import './id3-tag-editor/styles.css';
@import './groups/styles.css';
@import './toolbar.css';
@import './table.css';
@import './statusbar.css';

.song-database-container {
  display: grid;
  gap: 0px 0px;
  grid-template-columns: max-content minmax(0, 1fr);
  grid-template-rows: 5rem 1fr 4rem;
  grid-template-areas:
    'controls controls'
    'groups songs'
    'status status';

  height: 100%;
  min-height: 0;

  &:has(.db-groups:empty) {
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 4rem;
    grid-template-areas:
      'controls'
      'songs'
      'status';
  }
}
