.song-database-table {
    font-family: 'ChicagoFLF', 'ChiKareGo', monospace;
    font-size: 1.2rem;
    image-rendering: pixelated;
    line-height: 1.2;
    width: 100%;
}

.song-database-table th, .song-database-table td {
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}